@import "_config.scss";
@import "tab.scss";

// @mixin overlayColor($color) {
//   background-color: rgba($color, 0.9);
//   &:hover { background-color: rgba($color, 0.3); }
// }

.row-lab {
  margin-top: 3%;
}

.lab-link {
  // font-family: 'Courier New', Courier, monospace;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 15px;
  font-style: italic;
  padding-left:5px;
  padding-right:5px;
  overflow: auto;
}
.lab-link:hover {
  color: rgb(161, 214, 255);
  text-decoration-color: black;
  text-decoration-line: none;
}

.lab-link:focus{
  color: rgb(161, 214, 255);
  text-decoration: none;
  text-decoration-line: underline;
}

.lab {
  padding-left: 3%;
  p {
    font-family: 'Courier New', Courier, monospace;
    float:left;
    font-size:20px;
  }
}
footer {
  // padding-left: 15%;
  margin-left: 13%;
}
header {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: "Helvetica Neue", "Arial",  sans-serif;
  font-style: italic;
  font-weight: 100;
  font-variant-ligatures: normal;
  // font-family: serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  // padding-left: 15%;
  margin-left: 13%;
  p {
    float: center;
    // font-family: serif;
    margin: 5px;
    font-size:50px;
    letter-spacing: 1px;
  }
  .smallTitle {
    // font-family: serif;
    // margin: 5px;
    // font-style: initial;
    font-size: 20px;
  }
}


.resume {
  margin-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  hr {
    padding-top: 0px;
    margin-left: 0px;
    width: 98%;
    text-align: left;
    align-self: left;
  }
  img {
    width: 4%;
    height: auto;
    // max-width: 4%;
    // min-width: 30px;
  }
  .resume-right {
    float:left;
    padding-left: 20px;
    width:95%;
  }

  .resume-row {
    margin-top: 0.5vw;
    float:left;
    width: 100% !important;
    min-width: 100% !important;
    
  }
  .header {
    width: 100%;
    float: left;
    font-size: 23px;
    margin-top: 2%;
    // margin-bottom: 2%;
  }
  .top {
    margin-top: 0px;
  }
  .company {
    float: left;
    font-size: 18px;
  }
  .position {
    font-style: italic;
    font-size: 13px;
    float: left;
  }
  .locdate {
    float: right;
    font-size: 12px;
  }
  .description {
    width: 95%;
    padding-top: 1%;
    padding-left: 0%;
    font-size: 13px;
    float: left;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ul li {
      padding: 0px;
    }
  }
  .lang {
    margin-top: 0px;
    padding-top: 0px;
  }
  ul {
    padding-left: 1%;
  }
}

.row {
  width: 100% !important;
  margin-left: 0px;
  margin-right: 0px;
}

.row-header-mobile {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
// .row:after {
//   content: "";
//   display: table;
//   clear: both;
// }

.col {
  // margin-left: 20px;
  float: left;
}

.left {
  width: 13%;
  // margin-left:10px;
  text-align: center;
}

.left1 {
  width: 5%;
  text-align: center;
  // padding-right: 1%;
}
.right {
  // padding-left: 2%;
  width: 85%;
}

.col-image {
  float: right;
  width: 33.33%;
  padding: 5px;
  img {
    width: 100%;
    height: auto;
  }
}

.col-icon {
  margin: auto;
  width: 50%;
  text-align: center;
  float: center;
  img {
    width: 4%;
    height: auto;
  }
  .icon {
    opacity: 0.6;
    padding-top: 1%;
    margin-bottom: 10%;
    margin-left: 10px;
  }
  .icon:hover {
    opacity: 0.2;
  }
}

.teaching-description {
  font-size:15px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
}


.tab {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  width: auto;
  a {
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    // font-family: serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-line: none;
    text-decoration-color: black;
      
  }
  .main {
    color: black;
    // font-family: 'Times New Roman', Times, serif;
  }
  .main:hover {
    color: #ffcce8;
  }
  .about {
    color: black;
  }
  .about:hover {
    color: #ffcccc;
  }
  .resume-tab {
    color: black;
  }
  
  .resume-tab:hover {
    color: #f0c191;
  }
  .projects {
    color: black;
  }
  .projects:hover {
    color: #99ccff;
  }
  .teaching {
    color: black;
  }
  .teaching:hover {
    color: #c5c5f5;
  }
  .hobbies {
    color: black;
  }
  .hobbies:hover {
    color: #88e4b6;
  }
  
}

/* css for about me | aboutMe */ 
.profile {
  margin: auto;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  img {
    width: 200px;
    min-width: 10%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-left: 5%;
    padding-bottom: 2%;
  }
  p {
    padding-left: 5%;
    float: left;
    font-size: 15px;
    width: 80%;
  }
}
