@import "_config.scss";
@import "tab.scss";

// @mixin overlayColor($color) {
//   background-color: rgba($color, 0.9);
//   &:hover { background-color: rgba($color, 0.3); }
// }

.row-lab {
  width: 80%;
  padding: 5px;
}
// .row-lab:after {
//   content: "";
//   display: table;
//   clear: both;
// }

.lab-link {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 15px;
  background-color: rgb(161, 214, 255);
  padding-left:5px;
  padding-right:5px;
  
}
.lab-link:hover {
  color: white;
  text-decoration-color: black;
}
.lab {
  padding-left: 3%;
  p {
    font-family: 'Courier New', Courier, monospace;
    float:left;
    font-size:20px;
  }
}
footer {
  // padding-left: 15%;
  margin-left: 13%;
}
header {
	  
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    // padding-left: 15%;
    margin-left: 13%;
    p {
      float: center;
      font-family: serif;
      margin: 5px;
      font-size:40px;
    }
    mark {
      background-color: #d5ffac;
    }
    .smallTitle {
      font-family: serif;
      margin: 5px;
      font-size: 15px;
    }
}


.resume {
  margin-left: 20px;
  hr {
    padding-top: 0px;
    margin-left: 0px;
    width: 95%;
    text-align: left;
    align-self: left;
  }
  img {
    width: 40px;
    height: auto;
    max-width: 10%;
  }
  .resume-right {
    float:left;
    padding-left: 20px;
    width:90%;
  }

  .resume-row {
    margin-top: 0.5vw;
    float:left;
    width: 100% !important;
    min-width: 100% !important;
    
  }
  .header {
    width: 100%;
    float: left;
    font-size: 23px;
    margin-top: 2%;
    // margin-bottom: 2%;
  }
  .top {
    margin-top: 0px;
  }
  .company {
    float: left;
    font-size: 18px;
  }
  .position {
    font-style: italic;
    font-size: 13px;
    float: left;
  }
  .locdate {
    float: right;
    font-size: 12px;
  }
  .description {
    width: 90%;
    padding-top: 1%;
    padding-left: 0.5%;
    font-size: 12px;
    float: left;
  }
  .lang {
    margin-top: 0px;
    padding-top: 0px;
  }
  ul {
    padding-left: 1%;
  }
}

.row {
  width: 100% !important;
  margin-left: 0px;
  margin-right: 0px;
}

.row-header-mobile {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
// .row:after {
//   content: "";
//   display: table;
//   clear: both;
// }

.col {
  // margin-left: 20px;
  float: left;
}

.left {
  width: 13%;
  // margin-left:10px;
  text-align: center;
}

.left1 {
  width: 5%;
  text-align: center;
  // padding-right: 1%;
}
.right {
  // padding-left: 2%;
  width: 85%;
}

.col-image {
  float: right;
  width: 33.33%;
  padding: 5px;
  img {
    width: 100%;
    height: auto;
  }
}

.col-icon {
  margin: auto;
  width: 50%;
  text-align: center;
  float: center;
  img {
    width: 4%;
    height: auto;
  }
  .icon {
    opacity: 0.6;
    padding-top: 1%;
    margin-bottom: 10%;
    margin-left: 10px;
  }
  .icon:hover {
    opacity: 0.2;
  }
}


.tab {
  
  // text-decoration-line: none;
  // text-decoration-color: black;
  
  // font-family:'Courier New', Courier, monospace;
  font-family: serif;
  font-size: 15px;
  width: auto;
  a {
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: serif;
    text-decoration-line: none;
    text-decoration-color: black;
      
  }
  .main {
    color: black;
    // font-family: 'Times New Roman', Times, serif;
  }
  .main:hover {
    color: #ffcce8;
  }
  .about {
    color: black;
  }
  .about:hover {
    color: #ffcccc;
  }
  .resume-tab {
    color: black;
  }
  
  .resume-tab:hover {
    color: #f0c191;
  }
  .projects {
    color: black;
  }
  .projects:hover {
    color: #99ccff;
  }
  .teaching {
    color: black;
  }
  .teaching:hover {
    color: #c5c5f5;
  }
  .hobbies {
    color: black;
  }
  .hobbies:hover {
    color: #88e4b6;
  }
  
}

/* css for about me */
.profile {
  margin: auto;
  text-align: left;
  img {
    width: 200px;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
  }
  p {
    padding-left: 5%;
    float: left;
    font-size: 15px;
    width: 80%;
  }
}
